<title>{{>title}}</title>
<body>
    <div id="main-container">
        <header>
            <img src="/img" alt="">
        </header>
        <main>
            {{>mainContent}}
        </main>
    </div>
</body>